__pycache__
.DS_Store
.vscode/

data/

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.spl
*.synctex.gz
*.toc

*.csv
*.onnx
*.png
*.pdf

*.vclo

results/*
!results/Makefile
!results/results.py
!results/tikz_settings.tex

extras/derivatives-conjunction.tex
extras/derivatives-disjunction.tex
extras/derivatives-implication.tex

extras/table-consistency.tex

verification/logs/